.vert {
    vertical-align: middle;
}
.link {
    color: #0D8549;
}
.link2 {
    color: #F38181;
}
.above {
    margin-top: 18px;
}
.section-easter {
    background-color: #DFEBED;
}
.out {
    color: #FCE38A;
}
.text-lg {
    font-size: 24px;
}

#install-panel .panel{
    border: 0;
    margin: 0;
    padding: 0;
}

.white-text {
    background-color: white;
    color: black;
}
.center-img {
    margin-left: 10%;
}
